# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# ckau-book Addons: COLORFUL Video pack
/_inc/anim/video/*
!/_inc/anim/video/arcade-left.mp4
!/_inc/anim/video/arcade-right.mp4
!/_inc/anim/video/atomiswave-left.mp4
!/_inc/anim/video/atomiswave-right.mp4
!/_inc/anim/video/auto-allgames.mp4
!/_inc/anim/video/auto-allgames-ru.mp4
!/_inc/anim/video/auto-favorites.mp4
!/_inc/anim/video/auto-favorites-ru.mp4
!/_inc/anim/video/CRT_Noise.mp4
!/_inc/anim/video/CRT_ON.mp4
!/_inc/anim/video/daphne-left.mp4
!/_inc/anim/video/daphne-right.mp4
!/_inc/anim/video/favorites2.mp4
!/_inc/anim/video/fbneo-left.mp4
!/_inc/anim/video/fbneo-right.mp4
!/_inc/anim/video/mame-left.mp4
!/_inc/anim/video/mame-right.mp4
!/_inc/anim/video/naomi-left.mp4
!/_inc/anim/video/naomi-right.mp4

# ckau-book Addons: COLORFUL 4K images pack
/_inc/anim/4K/*
!/_inc/anim/4K/place 4K images here.txt

# ckau-book Addons: CINEMATIC video pack
/_inc/videos/*
!/_inc/videos/Place video here.txt
!/_inc/videos/static.mp4

# ckau-book Addons: COLLECTIONS pack
# XMLs
/Batman
/Bomberman
/CAPCOM
/Capcom Play System I
/Capcom Play System II
/Capcom Play System III
/Castlevania
/Contra
/Crash Bandicoot
/DC Comics
/Disney
/Donkey Kong
/Double Dragon
/Fatal Fury
/Final Fantasy
/Ghouls Ghosts
/Golden Axe
/Grand Theft Auto
/Guilty Gear
/KONAMI
/Looney Tunes
/Mario
/Marvel Comics
/Mega Man
/Metal Gear
/Metal Slug
/Metroid
/Mickey Mouse
/Mortal Kombat
/Naruto
/Ninja Gaiden
/Pac-Man
/Pokemon
/Prince of Persia
/Rayman
/Resident Evil
/Road Rash
/RoboCop
/Samurai Shodown
/Shmups
/Silent Hill
/Sonic
/SoulCalibur
/Space Invaders
/Spider-Man
/Sports
/Spyro
/Star Wars
/Street Fighter
/Superman
/Teenage Mutant Ninja Turtles
/Tekken
/Tetris
/The King of Fighter
/The Legend of Zelda
/The Simpsons
/Tiny Toons
/Tomb Raider
/Wario
/X-Men
/Yoshi
# Logos
/_inc/logos/Batman.png
/_inc/logos/Bomberman.png
/_inc/logos/Castlevania.png
/_inc/logos/Contra.png
/_inc/logos/Crash Bandicoot.png
/_inc/logos/DC Comics.png
/_inc/logos/Disney.png
/_inc/logos/Donkey Kong.png
/_inc/logos/Double Dragon.png
/_inc/logos/Fatal Fury.png
/_inc/logos/Final Fantasy.png
/_inc/logos/Ghouls Ghosts.png
/_inc/logos/Golden Axe.png
/_inc/logos/Grand Theft Auto.png
/_inc/logos/Guilty Gear.png
/_inc/logos/Looney Tunes.png
/_inc/logos/Mario.png
/_inc/logos/Marvel Comics.png
/_inc/logos/Mega Man.png
/_inc/logos/Metal Gear.png
/_inc/logos/Metal Slug.png
/_inc/logos/Metroid.png
/_inc/logos/Mickey Mouse.png
/_inc/logos/Mortal Kombat.png
/_inc/logos/Naruto.png
/_inc/logos/Ninja Gaiden.png
/_inc/logos/Pac-Man.png
/_inc/logos/Pokemon.png
/_inc/logos/Prince of Persia.png
/_inc/logos/Rayman.png
/_inc/logos/Resident Evil.png
/_inc/logos/Road Rash.png
/_inc/logos/RoboCop.png
/_inc/logos/Samurai Shodown.png
/_inc/logos/Shmups.png
/_inc/logos/Silent Hill.png
/_inc/logos/Sonic.png
/_inc/logos/SoulCalibur.png
/_inc/logos/Space Invaders.png
/_inc/logos/Spider-Man.png
/_inc/logos/Sports.png
/_inc/logos/Spyro.png
/_inc/logos/Star Wars.png
/_inc/logos/Street Fighter.png
/_inc/logos/Superman.png
/_inc/logos/Teenage Mutant Ninja Turtles.png
/_inc/logos/Tekken.png
/_inc/logos/Tetris.png
/_inc/logos/The King of Fighter.png
/_inc/logos/The Legend of Zelda.png
/_inc/logos/The Simpsons.png
/_inc/logos/Tiny Toons.png
/_inc/logos/Tomb Raider.png
/_inc/logos/Wario.png
/_inc/logos/X-Men.png
/_inc/logos/Yoshi.png

# COLLECTIONS arts + WALLPAPERS arts pack
/_inc/art2/

# ckau-book Addons: CONSOLES arts pack
/_inc/art/

