<?xml version="1.0" encoding="UTF-8"?>
<theme>
	<formatVersion>7</formatVersion>
	<view name="menu">
		<menuText name="menutitle">
			<fontPath>${fontNameBold}</fontPath>
			<fontSize>0.035</fontSize>
			<fontSize if="${screen.ratio} == '4/3'">0.04</fontSize>
			<color>FAFAFA</color>
		</menuText>
		<menuText name="menufooter">
			<fontPath>${fontNameReg}</fontPath>
			<fontSize>0.02</fontSize>
			<fontSize if="${screen.ratio} == '4/3'">0.03</fontSize>
			<color>777777FF</color>
		</menuText>
		<menuText name="menutext">
			<fontPath>${fontDescReg}</fontPath>
			<fontSize>0.026</fontSize>
			<fontSize if="${screen.ratio} == '4/3'">0.036</fontSize>
			<color>969696</color>
			<separatorColor>00000000</separatorColor>
			<selectorColor>${baseColor}</selectorColor>
			<selectorColorEnd>${gradientEndColor}</selectorColorEnd>
			<selectedColor>FFFFFF</selectedColor>
			<selectorGradientType>horizontal</selectorGradientType>
		</menuText>
		<menuGrid name="menugrid">
			<separatorColor>FFFFFF08</separatorColor>
		</menuGrid>
		<menuTextSmall name="menutextsmall">
			<fontPath>${fontDescReg}</fontPath>
			<fontSize>0.02</fontSize>
			<fontSize if="${screen.ratio} == '4/3'">0.03</fontSize>
			<color>${groupColor}</color>
		</menuTextSmall>
		<menuGroup name="menugroup">
			<fontPath>${fontNameBold}</fontPath>
			<fontSize>0.02</fontSize>
			<fontSize if="${screen.ratio} == '4/3'">0.025</fontSize>
			<color>${groupColor}</color>
			<backgroundColor>00000000</backgroundColor>
			<lineSpacing>2.3</lineSpacing>
		</menuGroup>
		<menuBackground name="menubg">
			<color>242424</color>
			<cornerSize>32 32</cornerSize>
			<path>./../images/frame.png</path>
			<scrollbarColor>96969620</scrollbarColor>
			<scrollbarCorner>0.49</scrollbarCorner>
			<scrollbarSize>0.003</scrollbarSize>
			<scrollbarAlignment>innerright</scrollbarAlignment>
		</menuBackground>
		<menuIcons name="menuicons">
			<iconKodi>./../icons/Kodi.png</iconKodi>
			<iconSystem>./../icons/System.png</iconSystem>
			<iconUpdates>./../icons/Updates.png</iconUpdates>
			<iconGames>./../icons/Games.png</iconGames>
			<iconControllers>./../icons/Controllers.png</iconControllers>
			<iconUI>./../icons/UI.png</iconUI>
			<iconSound>./../icons/Sound.png</iconSound>
			<iconNetwork>./../icons/Network.png</iconNetwork>
			<iconPlanemode>./../icons/Planemode.png</iconPlanemode>
			<iconScraper>./../icons/Scraper.png</iconScraper>
			<iconAdvanced>./../icons/Advanced.png</iconAdvanced>
			<iconQuit>./../icons/Quit.png</iconQuit>
			<iconRestart>./../icons/Restart.png</iconRestart>
			<iconShutdown>./../icons/Shutdown.png</iconShutdown>
			<iconFastShutdown>./../icons/Fastshutdown.png</iconFastShutdown>
			<iconRetroachievements>./../icons/Contest.png</iconRetroachievements>
			<iconManual>./../icons/Manual.png</iconManual>
			<iconEmuelec>./../icons/Emuelec.png</iconEmuelec>
		</menuIcons>
		<menuTextEdit name="menutextedit">
			<inactive>./../images/textinput_ninepatch.png</inactive>
			<active>./../images/textinput_ninepatch_active.png</active>
		</menuTextEdit>
		<menuButton name="menubutton">
			<path>./../images/button.png</path>
			<filledPath>./../images/button_filled.png</filledPath>
			<cornerSize>8 8</cornerSize>
		</menuButton>
	</view>
</theme>
