<?xml version="1.0" encoding="UTF-8"?>
<theme>
	<formatVersion>7</formatVersion>
	<view name="system">
		<text name="systemInfo" extra="static">
			<backgroundColor>14141400</backgroundColor>
			<color>777777FF</color>
			<fontPath>${fontDescReg}</fontPath>
			<pos>0.84 0.945</pos>
			<pos if="${screen.ratio} == '21/9'">0.85 0.945</pos>
			<size>0.10 0.058</size>
			<alignment>right</alignment>
			<fontSize>0.025</fontSize>
			<color if="${screen.ratio} == '4/3'">FFFFFF</color>
			<pos if="${screen.ratio} == '4/3'">0.688 0.895</pos>
			<size if="${screen.ratio} == '4/3'">0.30 0.058</size>
			<fontSize if="${screen.ratio} == '4/3'">0.034</fontSize>
			<zIndex>93</zIndex>
			<visible>true</visible>
			<visible ifSubset="showgamescount:yes">true</visible>
			<visible ifSubset="showgamescount:no">false</visible>
			<!-- Move gamecount to the right if the clock is disabled -->
			<pos if="${global.clock} == 'false'">0.89 0.945</pos>
			<pos if="${global.clock} == 'false' && ${screen.ratio} == '21/9'">0.9 0.945</pos>
		</text>
		<carousel name="systemcarousel">
			<color>00000000</color>
			<scrollSound>${themePath}/_inc/sound/scroll-system.wav</scrollSound>
			<defaultTransition>instant</defaultTransition>
			<storyboard>
				<sound path="${themePath}/_inc/sound/scroll-out.wav"/>
			</storyboard>
		</carousel>
		
		<text name="logoText">
			<fontPath>${fontDescReg}</fontPath>
			<fontSize>0.06</fontSize>
			<color>FFFFFFFF</color>
			<glowColor>00000010</glowColor>
			<glowSize>3</glowSize>
			<forceUppercase>false</forceUppercase>
		</text>

<!-- Custom music for systems -->
		<sound name="bgsound">
			<path>${themePath}/_inc/music/${system.theme}.ogg</path>
			<path>${themePath}/_inc/music/${system.theme}.wav</path>
			<path>${themePath}/_inc/music/${system.theme}.mp3</path>
		</sound>

<!-- Colorful base -->
		<image name="background" extra="static">
			<tile>false</tile>
			<origin>0.5 0.5</origin>
			<pos>0.5 0.5</pos>
			<size>1 1</size>>
			<path>./../images/space.png</path>
			<zIndex>1</zIndex>
			<scale>1.10</scale>
		</image>
		
		<video name="videobox" extra="true">
			<path>{random}</path>
			<path>./../../_inc/videos/${system.theme}.mp4</path>
			<path>./../../_inc/videos/${synonym}.mp4</path>
			<!-- Loads platform video from addon directory, if available -->
			<path ifSubset="addons:yes">./../../../ckau-book-addons/_inc/videos/${system.theme}.mp4</path>
			<path ifSubset="addons:yes">./../../../ckau-book-addons/_inc/videos/${synonym}.mp4</path>
			<!-- <default>./../../_inc/videos/CRT_Noise.mp4</default> -->
			<delay>0</delay>
			<effect>none</effect>
			<origin>0.5 0.5</origin>
			<pos>0.5 0.5</pos>
			<maxSize>0.244</maxSize>
			<zIndex>25</zIndex>
		</video>
		
		<image name="sysbg-video" extra="true">
			<!-- FOR TEST <color>FFFFFF</color> def 000000 -->
			<color>000000</color>
			<path>./../../_inc/images/space.png</path>
			<origin>0.5 0.5</origin>
			<pos>0.5 0.5</pos>
			<size>0.18 0.18</size>
			<!-- FOR TEST <zIndex>300</zIndex> def 3 -->
			<zIndex>3</zIndex>
		</image>
		<image name="sysbg-left" extra="true">
			<origin>0.5 0.5</origin>
			<pos>0.305 0.45</pos>
			<size>0.1 0.3</size>
			<rotation>14</rotation>
			<path>./../../_inc/images/space.png</path>
			<zIndex>27</zIndex>
			<visible>false</visible>
		</image>
		<image name="sysbg-right" extra="true">
			<origin>0.5 0.5</origin>
			<pos>0.695 0.45</pos>
			<size>0.1 0.3</size>
			<rotation>-14</rotation>
			<path>./../../_inc/images/space.png</path>
			<zIndex>27</zIndex>
			<visible>false</visible>
		</image>
		
	<!-- System artwork -->
		<image name="sysart" extra="true">
			<origin>0.5 0.5</origin>
			<pos>0.5 0.5</pos>
			<maxSize>1 1</maxSize>
			<!-- Loads system theme image, attemps to load synonym if not available-->
			<path>${themePath}/_inc/arts/${system.theme}.png</path>
			<path>${themePath}/_inc/arts/${synonym}.png</path>
			<!-- Loads 4K image, if addon is available -->
			<path ifSubset="addons:yes">./../../../ckau-book-addons/_inc/arts/4K/${system.theme}.png</path>
			<path ifSubset="addons:yes">./../../../ckau-book-addons/_inc/arts/4K/${synonym}.png</path>
			<!-- If it's a collection, checks if the image addon is available -->
			<path ifSubset="addons:yes">./../../../ckau-book-addons/_inc/art2/collections/${system.theme}.jpg</path>
			<zIndex>30</zIndex>
			<visible>true</visible>
		</image>
		<!-- Regional consoles/computers -->
		<image name="sysart" region="eu"></image>
		<image name="sysart" region="us">
			<path>${themePath}/_inc/arts/us/${system.theme}.png</path>
			<path>${themePath}/_inc/arts/${synonym}.png</path>
			<path ifSubset="addons:yes">./../../../ckau-book-addons/_inc/arts/4K/us/${system.theme}.png</path>
			<path ifSubset="addons:yes">./../../../ckau-book-addons/_inc/arts/4K/${synonym}.png</path>
		</image>
		<image name="sysart" region="jp">
			<path>${themePath}/_inc/arts/jp/${system.theme}.png</path>
			<path>${themePath}/_inc/arts/${synonym}.png</path>
			<path ifSubset="addons:yes">./../../../ckau-book-addons/_inc/arts/4K/jp/${system.theme}.png</path>
			<path ifSubset="addons:yes">./../../../ckau-book-addons/_inc/arts/4K/${synonym}.png</path>
		</image>
	
	<!-- System info desc -->
		<text name="TextDate" extra="true">
			<pos>0.49 0.12</pos>
			<size>0.47 0</size>
			<fontPath>${fontNameReg}</fontPath>
			<fontSize>0.045</fontSize>
			<fontSize if="${screen.ratio} == '4/3'">0.045</fontSize>
			<zIndex>140</zIndex>
		</text>
		<text name="TextManufacturer" extra="true">
			<pos>0.491 0.204</pos>
			<size>0.47 0</size>
			<fontPath>${fontNameBold}</fontPath>
			<fontSize>0.04</fontSize>
			<fontSize if="${screen.ratio} == '4/3'">0.04</fontSize>
			<zIndex>140</zIndex>
			<multiLine>false</multiLine>
			<autoScrollDelay>3000</autoScrollDelay>
			<singleLineScroll>true</singleLineScroll>
			
			<glowColor if="${screen.ratio} == '4/3'">00000035</glowColor>
			<glowSize if="${screen.ratio} == '4/3'">1</glowSize>
			<glowOffset if="${screen.ratio} == '4/3'">3 2</glowOffset>
		</text>
		<text name="TextName" extra="true">
			<pos>0.49 0.249</pos>
			<size>0.47 0</size>
			<fontPath>${fontNameBold}</fontPath>
			<fontSize>0.065</fontSize>
			<fontSize if="${screen.ratio} == '21/9'">0.062</fontSize>
			<fontSize if="${screen.ratio} == '4/3'">0.065</fontSize>
			<lineSpacing>1.0</lineSpacing>
			<zIndex>140</zIndex>
			<padding>0 0 0 14</padding>
			<multiLine>false</multiLine>
			<autoScrollDelay>3000</autoScrollDelay>
			<singleLineScroll>true</singleLineScroll>
			
			<glowColor if="${screen.ratio} == '4/3'">00000035</glowColor>
			<glowSize if="${screen.ratio} == '4/3'">1</glowSize>
			<glowOffset if="${screen.ratio} == '4/3'">3 2</glowOffset>
		</text>
		<text name="TextVariant" extra="true">
			<pos>0.49 0.322</pos>
			<size>0.47 0</size>
			<autoScroll>vertical</autoScroll>
			<verticalAlignment>top</verticalAlignment>
			<fontPath>${fontNameBold}</fontPath>
			<fontSize>0.02</fontSize>
			<pos if="${screen.ratio} == '16/10'">0.49 0.328</pos>
			<pos if="${screen.ratio} == '4/3'">0.49 0.34</pos>
			<fontSize if="${screen.ratio} == '4/3'">0.03</fontSize>
			<lineSpacing>1.1</lineSpacing>
			<zIndex>140</zIndex>
			<multiLine>false</multiLine>
			<autoScrollDelay>3000</autoScrollDelay>
			<singleLineScroll>true</singleLineScroll>
			
			<glowColor if="${screen.ratio} == '4/3'">00000035</glowColor>
			<glowSize if="${screen.ratio} == '4/3'">1</glowSize>
			<glowOffset if="${screen.ratio} == '4/3'">3 2</glowOffset>
		</text>
		<text name="TextDesc" extra="true">
			<pos>0.49 0.384</pos>
			<size>0.47 0.51</size>
			<autoScroll>vertical</autoScroll>
			<verticalAlignment>top</verticalAlignment>
			<fontPath>${fontDescReg}</fontPath>
			<fontSize>0.025</fontSize>
			<pos if="${screen.ratio} == '4/3'">0.49 0.394</pos>
			<size if="${screen.ratio} == '4/3'">0.47 0.5</size>
			<fontSize if="${screen.ratio} == '4/3'">0.04</fontSize>
			<lineSpacing>1.1</lineSpacing>
			<zIndex>140</zIndex>
			
			<glowColor if="${screen.ratio} == '4/3'">00000035</glowColor>
			<glowSize if="${screen.ratio} == '4/3'">1</glowSize>
			<glowOffset if="${screen.ratio} == '4/3'">3 2</glowOffset>
		</text>
	</view>
</theme>
